@import './constants.css';
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #9a3f3f #fff9f6;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #fff9f6;
}

*::-webkit-scrollbar-thumb {
    background-color: #9a3f3f;
    border-radius: 10px;
    border: 3px none #fff9f6;
}
body {
    display: flex;
    flex-direction: column;
    background-color: var(--cor3);
    margin: auto;
    padding: 60px;
    padding-top: 30px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
main {
    background-color: var(--cor1);
    width: 1200px;
    margin: auto;
    padding: 0px;
    box-shadow: 0px 100% 15px #00000075;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    border-color: var(--cor5);
    border-radius: 0 0 15px 15px;
    border-style: solid;
    box-shadow: 0px 14px 30px #00000075;
}
header {
    background-color: var(--cor4);
    width: 1200px;
    height: 150px;
    margin: auto;
    border-color: var(--cor4);
    border-radius: 15px 15px 0 0;
    border-style: solid;
    box-shadow: 0px 0px 15px #00000075;
}
nav {
    border: var(--cor5);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    height: 1200px;
}
img#pipasjam {
    border-style: none;
    height: 100px;

}
img {
    display: block;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;   
    border-color: var(--cor5);
    border-style: solid;
}
img.semborda {
    display: block;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
}
p {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: var(--cor5);
}
p#frasehead {
    text-align: left;
    font-family: "Patrick Hand", cursive;
    font-weight: bolder;
    font-size: 20px;
}
a {
    color: var(--cor5);
    font-family: "Patrick Hand", cursive;
    text-decoration: none;
    font-size: 20px;
    
}
section.hoverlink a {
    margin: 5px;
}
section.hoverlink2 a:hover {
    size: 120px;
    transition-duration: .3s;
}
section.hoverlink a:hover {
    background-color: var(--cor5);
    color: var(--cor2);
    padding: 5px; /* mesma margin que a nav section.hoverlink a*/
    border-radius: 7px;
    transition-duration: .3s;
    margin:0px;
}
h2, h3 {
    padding-bottom: 10px;
    padding-top: 10px;
}
h1 {
    text-align: center;
    font-family: "Patrick Hand", cursive;
    color: var(--cor5);
    font-size: 2.5em;
    color: var(--cor5);
}
h2 {
    font-family: "Patrick Hand", cursive;
    margin-top: 0;
    color: var(--cor5);
}
h3 {
    font-family: "Patrick Hand", cursive;
    font-size: 20px;
    text-align: center;
    margin: 0;
    color: var(--cor5);
}
hr {
    border-style: dashed;
    border-color: var(--cor5);
    border-width: 2px;
    
}
ol {
    padding: 0;
}
.content {
    display: flex;
    flex: 1;
}
.coluna-esquerda {
    text-align: center;
    padding-top: 10px;
}
.coluna-esquerda iframe {
    width: 190px;
    height: 650px;
    scrollbar-width: 0;
}
.coluna-esquerda ul {
    padding: 5px;
    list-style-type: none;
    margin: auto;
}
.coluna-esquerda li {
    padding-bottom: 10px;
}
.coluna-direita {
    flex: 1;
    padding: 30px;
    outline-style: solid;
    outline-color: var(--cor5);
    text-align: justify;
    border-width: 1px 1px 1px 0px;
}
.coluna-direita iframe {
    width: 950px;
}
footer {
    text-align: center;
    padding: 15px;
    margin-top: auto; /* Footer abaixo de tudo */
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-color: var(--cor5);
}
footer p {
    font-family: "Patrick Hand", cursive;
    margin: 3px;
}
.audio-container {
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
    height: auto; /* ajusta para o tamanho da tela */
}
.flex {
    display:flex;
}
.patrick-hand-regular {
    font-family: "Patrick Hand";
    font-weight: 400;
    font-style: normal;
  }
  